@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FiraGO';
    src: local('FiraGO'), url(./fonts/FiraGO/FiraGO-Regular.woff2) format('truetype');
}

body {
    margin: 0;
    font-family: 'FiraGO', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header, main {
    @apply px-[76px]
}

main {
    @apply bg-body;
    min-height: calc(100vh - 80px);
}

main:has( > * form) {
    background-color: #FBFAFF !important;
}

form > * label {
    @apply text-sm font-medium
}

.button-primary {
    @apply px-[20px] py-[10px] box-border rounded-[8px] text-[14px] block font-medium leading-5 bg-button-active disabled:bg-button-inactive text-white;
}

.categories-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
.categories-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
.categories-scrollbar::-webkit-scrollbar-thumb {
    background: #acabab;
    border-radius: 5px;
}
 
.categories-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
}

input[type="date"] {
    @apply pl-10
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    background: url("assets/icons/calendar.png");
    transform: translateX(-30px);
}
